<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @welcom_development.title %>
</p>


<%= link_to 'Edit', edit_welcom_development_path(@welcom_development) %> |
<%= link_to 'Back', welcom_developments_path %>
